*{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: sans-serif;
    color: white;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("https://www.xtrafondos.com/en/descargar.php?id=9796&resolucion=2560x1440");
    background-size: cover;
    overflow: hidden;
    gap: 30px;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    background-color: #b34747;
    padding: 20px;
    border-radius: 15px;
}

span{
    font-size: .6rem;
    font-weight: 200;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 60%;
    gap: 10px;
    background-color: #b34747;
    border-radius: 15px;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10% ;
    height: 30%;
    padding: 1.5rem;
    background-color: #b41616;
    gap: 10px;
    border-radius: 15px;
}

.data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 60%;
    gap: 10px;
    background-color: #b34747;
    border-radius: 15px;
}